---
import { Image } from 'astro:assets';
import { ui } from '../i18n/ui';

import gabriel_pepeImg from '../assets/img/personal_pic/gabriel-pepe.jpg';

const lang = (Astro.currentLocale || 'it') as keyof typeof ui;
const t = ui[lang];

const targetLang = lang === 'it' ? 'en' : 'it';

const currentPath = Astro.url.pathname;
const targetUrl = currentPath.replace(`/${lang}`, `/${targetLang}`);
---


<div class="about-box left">
    <div class="box">
        <Image src={gabriel_pepeImg} alt="Gabriel" class="profile-pic" />
        <p>{t.about.text_1}</p>
    </div>
</div>

<div class="about-box right">
    <div class="box">
        <Image src={gabriel_pepeImg} alt="Gabriel" class="profile-pic" />
        <p>{t.about.text_2}</p>
    </div>
</div>

<style>

    .about-box {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 2rem;
        display: flex;
    }

    .right {
        margin-right: 1rem;
        justify-content: flex-end;
        

        .box {
            flex-direction: row-reverse;

            p {
                text-align: right;
            }
        }
    }

    .left {
        margin-left: 1rem;
    }

    .box {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        background-color: var(--secondary-color);
        border-radius: 10px;

        img {
            width: 120px;
            height: auto;
            border-radius: 10px;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }

    @media (max-width: 480px) {
        .left {
            margin-left: 0;

            .box {
                width: 95%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                display: block;

                img {
                    width: 100px;
                    height: auto;
                    float: left;
                    margin-right: 1rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }

        .right {
            margin-right: 0;

            .box {
                width: 95%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                display: block;

                img {
                    width: 100px;
                    height: auto;
                    float: right;
                    margin-left: 1rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }
    }
</style>