---
import { Image } from 'astro:assets';
import { ui } from '../i18n/ui';

import img1 from "../assets/img/personal_pic/gabriel-pepe.jpg";
import img2 from "../assets/img/personal_pic/image_2.jpg";

const lang = (Astro.currentLocale || 'it') as keyof typeof ui;
const t = ui[lang];

const targetLang = lang === 'it' ? 'en' : 'it';

const currentPath = Astro.url.pathname;
const targetUrl = currentPath.replace(`/${lang}`, `/${targetLang}`);

const aboutItems = [
  {
    side: "left",
    imageSrc: img1,
    alt: "Gabriel",
    text: t.about.text_1 
  },
  {
    side: "right",
    imageSrc: img2,
    alt: "Gabriel",
    text: t.about.text_2
  }
];

---

<div id="about-container">
  {aboutItems.map((item) => (
    <div class={`about-box ${item.side}`}>
      <div class="box">
        <Image src={item.imageSrc} alt={item.alt} class="profile-pic" />
        <div set:html={item.text}></div>
      </div>
    </div>
  ))}
</div>

<style>

    :global(.hobby-list) {
        list-style-type: none;
        padding-left: 0;
        margin-top: 10px;
        line-height: 1;
    }

    :global(.hobby-list li) {
        margin-bottom: 8px;
    }

    .about-box {
        color: white;
        font-family: var(--font-base);
        margin-top: 2rem;
        display: flex;
        font-size: 2rem;
    }

    .right {
        margin-right: 1rem;
        justify-content: flex-end;
        

        .box {
            flex-direction: row-reverse;
            gap: 5rem;

            p {
                text-align: right;
            }
        }
    }

    .left {
        margin-left: 1rem;
    }

    .box {
        width: 75%;
        display: flex;
        align-items: center;
        padding: 1rem;
        background: var(--card-gradient);
        border-radius: 16px;
        box-shadow: 0 10px 24px rgba(184, 85, 46, 0.25);
        gap: 1.5rem;

        img {
            width: 120px;
            height: auto;
            border-radius: 10px;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }

    @media (max-width: 480px) {
        img {
            width: 100px;
            height: auto;
        }

        p {
            font-size: 1.25rem !important;
            margin: 0;
            font-weight: bold;
        }

        .left {
            margin-left: 0;

            .box {
                width: 95%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                display: block;

                img {
                    float: left;
                    margin-right: 1rem;
                }

            }
        }

        .right {
            margin-right: 0;

            .box {
                width: 95%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                display: block;

                img {
                    float: right;
                    margin-left: 1rem;
                }

            }
        }
    }
</style>