---
import {Image} from 'astro:assets';
import { socials } from '../data/socials';

import { ui } from '../i18n/ui';
const lang = (Astro.currentLocale || 'it') as keyof typeof ui;
const t = ui[lang] as typeof ui['it'];
import '../styles/global.css';
---

<footer class="container">
    <p style="font-weight: bold;">{t.home.contacts}</p>
    <div class="row socials">
        {socials.slice(0, 4).map((social) => (
        <a href={social.url} target="_blank">
          <Image src={social.img} 
          alt={social.name} 
          loading="lazy"
          densities={[1.5, 2, 3]} /></a>
        ))}
</footer>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1rem 0.5rem 3rem;
    text-align: center;
    font-family: var(--font-base);
    color: white;
    max-width: 910px;
    margin: 0 auto;
  }

  .container .row {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background: var(--card-gradient);
    width: 100%;
    border-radius: 16px;
    padding: 1rem;
    height: 100%;
    box-shadow: 0 10px 24px rgba(184, 85, 46, 0.25);
  }

  .container a {
    transition: all 0.3s ease;
    display: flex;

    img {
      width: 80px;
      height: auto;
    }
  }

  .container a:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
  }

  .container p {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: var(--primary-color);
  }

  .socials {
    display: flex;
    column-gap: 24px;
  }

  @media (max-width: 480px) {
    .container {
      padding: 0 0.5rem;
      margin: 1rem;
      gap: 8px;

      p {
        font-size: 1.2rem;
      }

    }

    .container a {
      img {
        width: 60px;
        height: auto;
      }
    }
  }
</style>