---

import ianuaImg from '../assets/img/projects/ianua.png';
import rustpadImg from '../assets/img/projects/ianua.png';
import travelplannerImg from '../assets/img/projects/ianua.png';


const project = [
    {
        id: 1,
        img: ianuaImg,
        name: 'Ianua',
        description: 'My first videogame made for a Game Jam, focused on Neapolitan culture and folklore. It has been written in Godot.',
        link: 'https://example.com/project-one'
    },
    {
        id: 2,
        img: rustpadImg,
        name: 'RustPAD',
        description: 'A tool developed for my bachelor thesis, aimed to detect Performance Antipatterns in Rust programs.',
        link: 'https://example.com/project-two'
    },
    {
        id: 3,
        img: travelplannerImg,
        name: 'Travel Planner ✈️',
         description: 'A web application that helps users plan their trips by providing personalized itineraries and more.',
        link: 'https://example.com/project-three'
    }
];

import '../styles/global.css';
---

<section class="projects-viewer">
    <h2>Some of my projects, take a look :)</h2>
    {project.map((item) => (
        <div class="project-card">
            <div class="row">
                <div class="col">
                    <img src={item.img.src} alt={item.name} width="100%" />
                </div>
                <div class="col">
                    <h3>{item.name}</h3>
                    <p>{item.description}</p>
                </div>
            </div>
            <div class="row">
                <a href={item.link} target="_blank">View Project</a>
            </div>
        </div>
    ))}
</section>

<style>

    .projects-viewer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 2rem;

        h2 {
            color: var(--primary-color);
            margin-bottom: 0;
        }

        .row {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        .col:first-child {
            flex: 0 0 auto;
            width: 120px;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

            .project-card {
                background-color: var(--primary-color);
                color: white;

                p {
                    margin: 0.5rem 0;

                }
            }

            .project-card:nth-child(even) {
                padding: 1rem;
                max-width: 600px;
                margin-right: auto;
                text-align: start;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }

            .project-card:nth-child(odd) {
                padding: 1rem;
                max-width: 600px;
                margin-left: auto;
                text-align: end;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                flex-direction: row-reverse;

                .row {
                    flex-direction: row-reverse;
                }
            }

            .project-card h3 {
                margin: 0;
            }

            .project-card img {
                border-radius: 8px;
            }

            .project-card a {
                display: inline-block;
                padding: 0.5rem 1rem;
                background-color: var(--secondary-color);
                color: white;
                text-decoration: none;
                border-radius: 4px;
                width: -webkit-fill-available;
                text-align: center;
                font-weight: bold;
                transition: all 0.3s ease;
                margin-top: 1rem;
            }

            .project-card a:hover {
                background-color: var(--tertiary-color);
            }
    }


    @media (max-width: 480px) {
        .projects-viewer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                height: 80%;

                h2 {
                    color: var(--primary-color);
                }

                .row {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                }

                .col:first-child {
                    flex: 0 0 auto;
                    width: 120px;
                }

                .col {
                    display: flex;
                    flex-direction: column;
                }

            .project-card {
                background-color: var(--primary-color);
                color: white;

                p {
                    margin: 0.5rem 0;

                }
            }

            .project-card:nth-child(even) {
                padding: 1rem;
                max-width: 600px;
                margin-right: 3rem;
                text-align: start;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }

            .project-card:nth-child(odd) {
                padding: 1rem;
                max-width: 600px;
                margin-left: 3rem;
                text-align: end;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                flex-direction: row-reverse;

                .row {
                    flex-direction: row-reverse;
                }
            }

            .project-card h3 {
                margin: 0;
            }

            .project-card img {
                border-radius: 8px;
            }

            .project-card a {
                display: inline-block;
                padding: 0.5rem 1rem;
                background-color: var(--secondary-color);
                color: white;
                text-decoration: none;
                border-radius: 4px;
                width: -webkit-fill-available;
                text-align: center;
                font-weight: bold;
                transition: all 0.3s ease;
                margin-top: 1rem;
            }

            .project-card a:hover {
                background-color: var(--tertiary-color);
            }
    }
}

</style>