---

import ianuaImg from '../assets/img/projects/ianua.png';
import rustpadImg from '../assets/img/projects/ianua.png';
import travelplannerImg from '../assets/img/projects/ianua.png';

import { projects } from '../data/projects';

import '../styles/global.css';

import { ui } from '../i18n/ui';
const lang = (Astro.currentLocale || 'it') as keyof typeof ui;
const t = ui[lang] as typeof ui['it'];
---

<section class="projects-viewer">
    <h2>{t['footer.title']}</h2>
    {projects.map((item) => (
        <div class="project-card">
            <div class="row">
                <h3>{item.name}</h3>
            </div>
            <div class="row">
                <div class="col">
                    <img src={item.img.src} alt={item.name} width="100%" />
                </div>
                <div class="col">
                    <p>{item.description}</p>
                </div>
            </div>
            <div class="row">
                <a href={item.link} target="_blank">View Project</a>
            </div>
        </div>
    ))}
</section>

<style>

    .projects-viewer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 2rem;

        h2 {
            color: var(--primary-color);
            margin-bottom: 0;
        }

        .row {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        .col:first-child {
            flex: 0 0 auto;
            width: 120px;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

            .project-card {
                background-color: var(--primary-color);
                color: white;

                p {
                    margin: 0.5rem 0;

                }
            }

            .project-card:nth-child(even) {
                padding: 1rem;
                max-width: 600px;
                margin-right: auto;
                text-align: start;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }

            .project-card:nth-child(odd) {
                padding: 1rem;
                max-width: 600px;
                margin-left: auto;
                text-align: end;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                flex-direction: row-reverse;

                .row {
                    flex-direction: row-reverse;
                }
            }

            .project-card h3 {
                margin: 0;
            }

            .project-card img {
                border-radius: 8px;
            }

            .project-card a {
                display: inline-block;
                padding: 0.5rem 1rem;
                background-color: var(--secondary-color);
                color: white;
                text-decoration: none;
                border-radius: 4px;
                width: -webkit-fill-available;
                text-align: center;
                font-weight: bold;
                transition: all 0.3s ease;
                margin-top: 1rem;
            }

            .project-card a:hover {
                background-color: var(--tertiary-color);
            }
    }


    @media (max-width: 480px) {
        .projects-viewer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                height: 80%;

                h2 {
                    color: var(--primary-color);
                    text-align: center;
                    font-size: 1.2rem;
                }

                .row {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    align-items: center;
                }

                .col:first-child {
                    flex: 0 0 auto;
                    width: 120px;
                }

                .col {
                    display: flex;
                    flex-direction: column;
                }

            .project-card {
                background-color: var(--primary-color);
                color: white;

                h3 {
                    font-size: 2rem;
                    padding-left: 0.1rem;
                }

                p {
                    margin: 0.5rem 0;
                }
            }

            .project-card:nth-child(even) {
                padding: 1rem;
                max-width: 600px;
                margin-right: 3rem;
                text-align: start;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }

            .project-card:nth-child(odd) {
                padding: 1rem;
                max-width: 600px;
                margin-left: 3rem;
                margin-right: auto;
                text-align: end;
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                flex-direction: row-reverse;

                .row {
                    flex-direction: row-reverse;
                }
            }

            .project-card h3 {
                margin: 0;
            }

            .project-card img {
                border-radius: 8px;
            }

            .project-card a {
                display: inline-block;
                padding: 0.5rem 1rem;
                background-color: var(--secondary-color);
                color: white;
                text-decoration: none;
                border-radius: 4px;
                width: -webkit-fill-available;
                text-align: center;
                font-weight: bold;
                transition: all 0.3s ease;
                margin-top: 1rem;
            }

            .project-card a:hover {
                background-color: var(--tertiary-color);
            }
    }
}

</style>